*.o
*.build
*.log
xfig/xfig
xfig/xfig.man
*.changes
*.deb
*.substvars
*.debhelper
*.bak
xfig/Doc/xfig_man.html
files
xfig/Makefile
xfig/debian/xfig-doc/
xfig/debian/xfig-libs/
xfig/debian/xfig/
*~
*.orig
*.aux
*.dvi
*.pdf
*.ps
*._man
transfig/fig2mpdf/doc/sample-presentation.gif
transfig/fig2mpdf/doc/sample-presentation.nav
transfig/fig2mpdf/doc/sample-presentation.out
transfig/fig2mpdf/doc/sample-presentation.snm
transfig/fig2mpdf/doc/sample-presentation.toc
transfig/debian/transfig/
transfig/fig2dev/fig2dev
*.a
transfig/transfig.man
transfig/transfig/transfig
transfig/fig2mpdf/doc/XFig-LaTeX-together.jpg
transfig/fig2mpdf/doc/XFig-LaTeX.jpg
transfig/fig2mpdf/doc/anim-presentation.gif
transfig/fig2mpdf/doc/fig2mpdf-output.gif
transfig/fig2mpdf/doc/fig2ps-output.gif
transfig/fig2mpdf/doc/overlay-sample.jpg
transfig/fig2mpdf/doc/overlaying.gif
transfig/fig2mpdf/doc/sample-flat.jpg
transfig/Makefile
transfig/*/Makefile
transfig/*/*/Makefile
transfig/doc/manual/trans.tex
transfig/fig2dev/fig2ps2tex.man
transfig/fig2dev/pic2tpic.man
