*.o
*.build
*.log
xfig/xfig
xfig/xfig._man
xfig/xfig.man
*.changes
*.deb
*.substvars
*.debhelper
*.bak
xfig/Doc/xfig_man.html
files
xfig/Makefile
xfig/debian/xfig-doc/
xfig/debian/xfig-libs/
xfig/debian/xfig/
*~
